In [1]:
import pandas as pd
import numpy as np

from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import OrdinalEncoder, LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from imblearn.over_sampling import SMOTE
import os
pd.options.display.float_format = '{:,.3f}'.format

**For this lab, you will be using the CSV files provided in the files_for_lab folder.**

In [2]:
os.chdir(r'C:\Users\TrendingPC\Desktop\IronHAck\LABS\LABS-unit-7\8.Random-forests\files_for_lab')
cat = pd.read_csv('categorical.csv')
num = pd.read_csv('numerical.csv')
target = pd.read_csv('target.csv')

In [3]:
cat

,STATE,CLUSTER,HOMEOWNR,GENDER,DATASRCE,RFA_2R,RFA_2A,GEOCODE2,DOMAIN_A,DOMAIN_B,...,DOB_YR,DOB_MM,MINRDATE_YR,MINRDATE_MM,MAXRDATE_YR,MAXRDATE_MM,LASTDATE_YR,LASTDATE_MM,FIRSTDATE_YR,FIRSTDATE_MM
0,IL,36,H,F,3,L,E,C,T,2,...,37,12,92,8,94,2,95,12,89,11
1,CA,14,H,M,3,L,G,A,S,1,...,52,2,93,10,95,12,95,12,93,10
2,NC,43,U,M,3,L,E,C,R,2,...,0,2,91,11,92,7,95,12,90,1
3,CA,44,U,F,3,L,E,C,R,2,...,28,1,87,11,94,11,95,12,87,2
4,FL,16,H,F,3,L,F,A,S,2,...,20,1,93,10,96,1,96,1,79,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,other,27,H,M,3,L,G,C,C,2,...,0,2,96,2,96,2,96,2,96,2
95408,TX,24,H,M,3,L,F,A,C,1,...,50,1,96,3,96,3,96,3,96,3
95409,MI,30,H,M,3,L,E,B,C,3,...,38,1,96,3,95,1,96,10,94,10
95410,CA,24,H,F,2,L,F,A,C,1,...,40,5,90,11,96,8,97,1,86,12
95411,NC,24,U,F,3,L,G,C,C,1,...,18,1,88,12,93,12,96,12,88,3

In [4]:
num

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,CARDGIFT,MINRAMNT,MAXRAMNT,LASTGIFT,TIMELAG,AVGGIFT,CONTROLN,HPHONE_D,RFA_2F,CLUSTER2
0,0,60.000,5,9,0,0,39,34,18,10,...,14,5.000,12.000,10.000,4,7.742,95515,0,4,39
1,1,46.000,6,9,16,0,15,55,11,6,...,1,10.000,25.000,25.000,18,15.667,148535,0,2,1
2,1,61.612,3,1,2,0,20,29,33,6,...,14,2.000,16.000,5.000,12,7.481,15078,1,4,60
3,0,70.000,1,4,2,0,23,14,31,3,...,7,2.000,11.000,10.000,9,6.812,172556,1,4,41
4,0,78.000,3,2,60,1,28,9,53,26,...,8,3.000,15.000,15.000,14,6.865,7112,1,2,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,1,61.612,5,9,0,14,36,47,11,7,...,0,25.000,25.000,25.000,9,25.000,184568,0,1,12
95408,1,48.000,7,9,1,0,31,43,19,4,...,0,20.000,20.000,20.000,9,20.000,122706,1,1,2
95409,1,60.000,5,9,0,0,18,46,20,7,...,4,3.000,10.000,10.000,3,8.286,189641,1,3,34
95410,0,58.000,7,9,0,0,28,35,20,9,...,18,5.000,21.000,18.000,4,12.146,4693,1,4,11
95411,2,80.000,5,8,3,1,33,22,27,8,...,11,10.000,201.000,100.000,6,96.795,185114,1,1,12

In [5]:
target

       TARGET_B  TARGET_D
0             0     0.000
1             0     0.000
2             0     0.000
3             0     0.000
4             0     0.000
...         ...       ...
95407         0     0.000
95408         0     0.000
95409         0     0.000
95410         1    18.000
95411         0     0.000

[95412 rows x 2 columns]

# Instructions

**Apply the Random Forests algorithm but this time only by upscaling the data using SMOTE.**

Note that since SMOTE works on numerical data only, we will first encode the categorical variables in this case.

In [6]:
scaler1 = OrdinalEncoder()

In [7]:
# Encoding categorical data
cat = scaler1.fit_transform(cat)
cat = pd.DataFrame(cat)
cat.columns

RangeIndex(start=0, stop=22, step=1)

In [8]:
# Joining the target variable with the explanatives variables to check the 
# correlation between them

cat = cat.merge(target.iloc[:, 0], left_index = True, right_index = True)
X = num.merge(cat, left_index = True, right_index = True)

In [12]:
# Looking for the most correlated variables 
cor = X.corr()
cor_target = abs(cor['TARGET_B'])
relevant_features = cor_target[cor_target>0.05]
relevant_features

NGIFTALL   0.051
CARDGIFT   0.054
RFA_2F     0.072
6          0.070
TARGET_B   1.000
Name: TARGET_B, dtype: float64

In [13]:
X = X.loc[: , ['NGIFTALL', 'CARDGIFT', 'RFA_2F', 6]]
y = target.iloc[:, 0]

In [14]:
# Scaling X using Standard Scaler

scaler2 = StandardScaler()
X = scaler2.fit_transform(X)

C:\Users\TrendingPC\AppData\Roaming\Python\Python39\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
C:\Users\TrendingPC\AppData\Roaming\Python\Python39\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

In [15]:
# Looking the distrubution of the target variable

y.value_counts()

0    90569
1     4843
Name: TARGET_B, dtype: int64

In [16]:
#Train/Test split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [17]:
# Correction imbalance: oversampling --> SMOTE 

sm = SMOTE(k_neighbors=3)
X_train_SMOTE, y_train_SMOTE = sm.fit_resample(X_train, y_train)

In [18]:
y_train_SMOTE.value_counts()

0    63436
1    63436
Name: TARGET_B, dtype: int64

In [19]:
print(X_train.shape)
print(X_train_SMOTE.shape)

(66788, 4)
(126872, 4)

In [20]:
model1 = RandomForestClassifier()

def Building_model_SMOTE(model):

    model.fit(X_train_SMOTE, y_train_SMOTE)
        
    # Evaluation of the model
    pred_train_SMOTE = model.predict(X_train_SMOTE)
    pred_test_SMOTE = model.predict(X_test)
    
    # Accuracy of the model
    print('The accuracy of the model in the train set (SMOTE) is: %.3f' % accuracy_score(y_train_SMOTE, pred_train_SMOTE))
    print('The accuracy of the model in the test set (SMOTE) is: %.3f' % accuracy_score(y_test, pred_test_SMOTE))

In [21]:
Building_model_SMOTE(model1)

The accuracy of the model in the train set (SMOTE) is: 0.747
The accuracy of the model in the test set (SMOTE) is: 0.780